# Mobile mein
echo "EXPO_PUBLIC_API_BASE_URL=http://YOUR_API_URL/v1/api/
EXPO_PUBLIC_SENTRY_DSN=your_sentry_dsn
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_id" > apps/gully-fame-mobile/.env.example

# Admin mein
echo "NEXT_PUBLIC_API_BASE_URL=http://YOUR_API_URL/v1/api/
NEXT_PUBLIC_ENV=development" > apps/gully-fame-admin/.env.example